
    html {
        background-image: url(/img/donut-gc1f280256_1920.jpg);
        background-position: relative;
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-sizing: border-box;
        margin: 0%;
        box-sizing: border-box;
      }
    
    * ,
    * ::before ,
    * ::after {
        box-sizing: inherit;
    }
    body {
     
        background-image: url(/img/donut-gc1f280256_1920.jpg);
        background-position: relative;
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-sizing: border-box;
        margin: 0%;
        box-sizing: border-box;
        
    }
   
    #home{
        display: flex;
        flex-direction: column;
    }
   
    

    nav{
        margin: 0px;
        width: 100%;
        background-color: black;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
    }

     ul {
        color: white;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 95%;
        text-align: center;
        margin-top: -2px;
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .content{
        background: rgba(0,0,0,.5);
        width: 70%;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        text-align: center;
        text-transform: uppercase;
        }
.content h1{
    font-size: 50px;
}
  
.content p{
    padding:0px 50px;
    font-size: 20px;
}
button {
    background: none;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 10px;
}
button:hover{
    background:black;
}

#footer {
    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;           
  }
  
  
  .menu {
    position: relative;
    left: 40%;
}

.menu{
    text-align: center;
    width: 20%;
	background-color:rgb(226, 166, 203);
    border-radius: 0%;
	color: white;
	padding: .5rem;
	transition: background-color 1s linear;
}

.recipe a:hover{
    text-align: center;
    width: 10%;
	background-color: rgb(227, 168, 203);
    color: azure;
	padding: none;
	transition: all .5s ease;
}
  