/* 
Header Font 
  font-family: "oswald', sans-serif";
Paragraph font
  font-family: 'Times New Roman', Times, serif;
  

*/





html {

  box-sizing: border-box;
  margin: 0%;
  box-sizing: border-box;
  background-image: url(/img/donut-4475458_960_720.jpg);
  background-position: relative;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

* ,
* ::before ,
* ::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4{
  text-transform: uppercase;
  font-family: "oswald', sans-serif";
  text-align: center;
  text-decoration:underline;
  font-size: 1.5rem;
}
h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color:aliceblue;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}
p{ font-family: 'Times New Roman', Times, serif;
  
  text-align: center;
}
main{
  background: rgba(0,0,0,.5);
  padding-bottom: 50px;
  padding-left: 10px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
nav{
  width: 100%;
  background-color: black;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

ul {
  color:aliceblue;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin-top: -2px;

}
a {
  text-transform: uppercase;
  text-decoration: none;
  color:aliceblue;

}
.menu{
  text-align: justify;
  line-height:15px;
  height: 400px;
  color:aliceblue;
}
footer {
  color: aliceblue;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           
}



